* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
button,
input {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
button {
  color: white;
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 60px;
}

h2 {
  font-size: 36px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 400;
}

button {
  border: rgb(30 41 59);
  padding: 12px 24px;
  border-radius: 10px;
  font-size: medium;
  background-color: rgb(49 46 129);
}

input {
  border-color: rgb(71 85 105);
  background-color: rgb(226 232 240);
  padding: 12px 24px;
  border-radius: 5px;
}

.container {
  background: #080239;
  padding: 5% 8%;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.main-header-icon {
  height: 60px;
  width: 75px;
  margin-right: 15px;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-input {
  margin-right: 15px;
  width: 200px;
  transition: width 300ms;
}

#search-input:hover {
  width: 320px;
}

#close-search-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: 14px;
  margin-left: -52px;
}

@media screen and (max-width: 768px) {
  .sub-header {
    display: block;
  }

  #search-form {
    display: block;
    margin-top: 20px;
  }

  #search-input {
    width: 100%;
  }

  .search-btn {
    margin-top: 20px;
    width: 100%;
  }
}

#movies-grid {
  margin-top: 20px;
  display: grid;
  /* fix minimum size to 0 to prevent a grid blowout: https://css-tricks.com/preventing-a-grid-blowout/ */
  grid-template-columns: repeat(4, minmax(0, 1fr));
  row-gap: 20px;
  column-gap: 30px;
  justify-items: center;
}

.movie-card {
  border: 1px solid;
  border-color: rgb(51 65 85);
  border-radius: 15px;
  padding: 15px;
  width: 100%;
}

.movie-card > img {
  height: 400px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.movie-card > h3 {
  margin: 15px 0 10px;
}

.movie-card > p {
  margin: 0;
}

@media screen and (max-width: 1500px) {
  #movies-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  #movies-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 15px;
  }
}

@media screen and (max-width: 768px) {
  #movies-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.load-more-movies-btn-wrapper {
  text-align: center;
  margin-top: 30px;
}
